<app-search-form></app-search-form>
<p-dataView [value]="books">
  <p-header>
    List of Books
    <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
  </p-header>
  <p-footer>Choose from the list.</p-footer>
  <ng-template let-book pTemplate="listItem">
    <div class="p-col-12">
      <div>
        <img />
      </div>
      <div>
        <p>{{ book.title }}</p>
        <p>{{ book.authors.join(', ') }}</p>
      </div>
    </div>
  </ng-template>
  <ng-template let-book pTemplate="gridItem">
    <div class="p-col-12 p-md-3">
      {{book.title}}
      {{book.publishedDate}}
    </div>
  </ng-template> 
</p-dataView>
